.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-preview-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--md-sys-color-surface-container);
    /* background-color: var(--md-sys-color-secondary-fixed); */
    margin: 12px;
    border-radius: 8px;
}