:root {
  --md-sys-color-primary: rgb(0 105 108);
  --md-sys-color-surface-tint: rgb(0 105 108);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(156 241 243);
  --md-sys-color-on-primary-container: rgb(0 32 33);
  --md-sys-color-secondary: rgb(74 99 99);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(204 232 232);
  --md-sys-color-on-secondary-container: rgb(4 31 32);
  --md-sys-color-tertiary: rgb(76 95 124);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(212 227 255);
  --md-sys-color-on-tertiary-container: rgb(6 28 54);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(244 251 250);
  --md-sys-color-on-background: rgb(22 29 29);
  --md-sys-color-surface: rgb(244 251 250);
  --md-sys-color-on-surface: rgb(22 29 29);
  --md-sys-color-surface-variant: rgb(218 228 228);
  --md-sys-color-on-surface-variant: rgb(63 73 73);
  --md-sys-color-outline: rgb(111 121 121);
  --md-sys-color-outline-variant: rgb(190 200 200);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 50);
  --md-sys-color-inverse-on-surface: rgb(236 242 241);
  --md-sys-color-inverse-primary: rgb(128 212 214);
  --md-sys-color-primary-fixed: rgb(156 241 243);
  --md-sys-color-on-primary-fixed: rgb(0 32 33);
  --md-sys-color-primary-fixed-dim: rgb(128 212 214);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 81);
  --md-sys-color-secondary-fixed: rgb(204 232 232);
  --md-sys-color-on-secondary-fixed: rgb(4 31 32);
  --md-sys-color-secondary-fixed-dim: rgb(176 204 204);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 75 76);
  --md-sys-color-tertiary-fixed: rgb(212 227 255);
  --md-sys-color-on-tertiary-fixed: rgb(6 28 54);
  --md-sys-color-tertiary-fixed-dim: rgb(180 200 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(53 72 99);
  --md-sys-color-surface-dim: rgb(213 219 219);
  --md-sys-color-surface-bright: rgb(244 251 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 244);
  --md-sys-color-surface-container: rgb(233 239 239);
  --md-sys-color-surface-container-high: rgb(227 233 233);
  --md-sys-color-surface-container-highest: rgb(221 228 227);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  backface-visibility: hidden;
  /* background-color: var(--md-sys-color-surface); */
}

body {
  background-color: var(--md-sys-color-surface);
}

:focus-visible {
  outline: 2.5px solid var(--md-sys-color-on-tertiary-container);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

:focus-visible {
  outline: 2.5px solid var(--md-sys-color-on-tertiary-container);
}

/* .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-family: "Material Symbols Rounded";
} */

button {
  cursor: pointer;

  padding: 0 4rem;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  /* height: 48px; */
  border-radius: 24px;
  border: none;
}

button:disabled {
  background-color: var(--md-sys-color-surface-container-highest);
  color: var(--md-sys-color-on-surface);
  cursor: not-allowed;
}

input {
  padding: 0 1rem;
  height: 48px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 2px solid var(--md-sys-color-primary);   */
  /* outline: none; */
  caret-color: var(--md-sys-color-on-surface);
  -webkit-text-fill-color: var(--md-sys-color-on-surface);
  border-radius: 12px;
  -webkit-box-shadow: 0 0 0px 60px var(--md-sys-color-surface) inset;
}
