.elevated-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  height: 40px;
  padding: 0 24px;
  max-height: 48px;
  line-height: 20px;
  position: relative;
  overflow: clip;
  max-width: 450px;
  width: 100%;
}

.withIcon {
  padding-left: 16px;
  gap: 8px;
}

.pill {
  border-radius: 100px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  display: inline-block;
  white-space: nowrap;
}

.ripple {
  position: absolute;
  width: var(--ripple-size);
  height: var(--ripple-size);
  left: var(--ripple-x);
  top: var(--ripple-y);
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  background-color: rgb(from var(--md-sys-color-secondary) r g b / 0.5);
  transform-origin: center;
  pointer-events: none;
  animation: ripple 0.6s ease-out;
  will-change: transform, opacity;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.elevated-button:disabled {
  background-color: var(--md-sys-color-surface-container-high) !important;
  color: var(--md-sys-color-on-surface) !important;
  cursor: not-allowed;
  opacity: 0.5;
}
